{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "entry",
      "modules": "commonjs"
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "add-module-exports"
  ]
}
